{
  "presets": ["babel-preset-expo", "es2015", "stage-0", "flow"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "assets": "./assets",
          "app": "./src"
        }
      }
    ],
    "transform-react-jsx-source"
  ]
}
